*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    background: transparent;
}

.menus{
    display: flex;
    align-items: center;
}

.logo{
    margin-top: 30px;
    margin-left: 90px;
    color: #55ace5;
}

.menu-link{
    display: flex;
    margin-top: 30px;
    margin-left: 40%;
}

.menu-link li{
    list-style: none;
    padding: 15px;
}

.menu-link li:hover{
    cursor: pointer;
    color: #55ace5;
}


img{
    width: 100%;
    height: 150vh;
}

#section{
    position: relative;
    top: -80px;
}
.overlay{
    position: relative;
    top: 0;
}

.slides{
    margin-top: -430px;
    text-align: center;
}

.slides h1{
    color: #fff;
    font-size: 24px;
}

.slides h2{
    color: #fff;
    font-size: 80px;
}

.slides h3{
    color: #55ace5;
    font-size: 60px;
}

.btn{
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 45%;
    border-radius: 10px;
    padding: 12px 22px;
    font-size: 14px;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
    background: #ffffff;
    color: #222;
}























.hamburger{
    display: none;
}

.mobile-menu{
    display: none;
}


@media(max-width: 768px){
    .menu-link{
        display: none;
    }
    .logo{
        font-size: 25px;
        margin-left: -1px;
    }
    header{
        position: sticky;
        top: 0;
        height: 10vh;
    }

    i{
        z-index: 111;
        font-size: 40px;
    }


    .hamburger{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40%;
      right: 5%;
    }

    .mobile-menu{
        display: flex;
        position: fixed;
        top: 10%;
        right: 1%;
        background-color: #fff;
        transform: translateX(0%);
    }

    .mobile-menu[data-visible="false"]{
        transform: translateX(100%);
    }

    .hamburger i[data-visible="true"]{
        display: block;
    }

    .hamburger i[data-visible="false"]{
        display: none;
    }

    .menu-links li{
        list-style-type: none;
        font-size: 20px;
        padding: 5px;
    }

    .menu-links li:hover{
        cursor: pointer;
        color: #55ace5;
    }
}